<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
    <th:block th:fragment="headerLayout">

        <!-- HEADER -->

        <div id="wrapper-header">
            <div id="main-header" class="object">
                <div class="logo">
                    <a class="login" href="/login" sec:authorize="isAnonymous()">Авторизация</a>
                    <a class="login" href="/logout" sec:authorize="isAuthenticated()">Выход</a>
                </div>
                <div id="main_tip_search">
                    <form action="/" method="GET">
                        <input type="text" name="search" id="tip_search_input" autocomplete=off required>
                    </form>
                </div>
                <div id="stripes"></div>
            </div>
        </div>

        <!-- NAVBAR -->

        <div id="wrapper-navbar">
            <div class="navbar object">
                <div id="wrapper-sorting">
                    <div id="wrapper-title-1">
                        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="top-rated object">Администрирование</div>
<!--                            <div id="fleche-nav-1"></div>-->
                        </a>
                    </div>

                    <div id="wrapper-title-2">
                        <div class="recent object" sec:authorize="isAuthenticated()">
                            <div class="dropdown">
                                <div class="dropbtn">Профиль</div>
                                <div class="dropdown-content">
                                    <a href="/profile">
                                        Изменить данные
                                    </a>
                                    <a href="/profile/currentReserves">
                                        Текущие запросы
                                    </a>
                                    <a href="/profile/onHandle">
                                        Книги на руках
                                    </a>
                                    <a href="/profile/allOrders">
                                        Все запросы
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="wrapper-title-3">
                        <div class="recent object" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
                            <div class="dropdown">
                                <div class="dropbtn">Библиотека</div>
                                <div class="dropdown-content">
                                    <a href="/authors">
                                        Список авторов
                                    </a>
                                    <a href="/book/create">
                                        Добавить книгу
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div id="wrapper-title-2">-->
<!--                        <a href="/authors" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">-->
<!--                            <div class="oldies object">Список авторов</div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div id="wrapper-title-3">-->
<!--                        <a href="/book/create" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">-->
<!--                            <div class="oldies object">Добавить книгу</div>-->
<!--                        </a>-->
<!--                    </div>-->

                    <div id="wrapper-title-4">
                        <div class="recent object" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
                            <div class="dropdown">
                                <div class="dropbtn">Запросы</div>
                                <div class="dropdown-content">
                                    <a href="/order/reserves">
                                        На выдачу
                                    </a>
                                    <a href="/order/returns">
                                        На сдачу
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </th:block>
</body>
</html>