<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='/styles/style.css' rel='stylesheet' type='text/css'>
    <link href='/styles/detail.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <th:block th:insert="~{/ui/layouts/header.html::headerLayout}"></th:block>
    <div id="wrapper-container">

        <div class="container object">

            <div id="main-container-image">

                <div class="title-item" >
<!--                    <a th:href="@{/}">-->
<!--                        <div class="title-icon"></div>-->
<!--                    </a>-->

                    <div style="float: right;">
                        <h3>Доступное количество: <span th:text="${book.getBooksCount()}"/></h3>
                        <h4>Рейтинг: <span th:text="${rating}"/></h4>
                    </div>
                    <div class="title-text" th:each="author : ${book.authors}">
                        <p th:text="${author}"></p>
                    </div>
                    <div class="title-text-2" th:text="${book.title}"></div>
                </div>

                <div class="work">
                    <figure class="white">
                        <img th:src="@{${book.pathToFile}}" alt="/img/icons/no_image.png" style="width: 250px; height: 250px" />
                    </figure>

                    <div class="wrapper-text-description">
                        <div class="wrapper-desc">
                            <div class="text-desc" th:text="${book.annotation}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <form th:action="@{/}">
                <input type="submit" value="На главную" style="margin-left: 15px;">
            </form>
            <form th:if="${isCanGet}" method="post" th:action="@{'/order/getBook/' + ${book.id}}">
                <input type="submit" value="Запросить книгу" style="margin-left: 15px; background-color: #66CC7A;">
            </form>
            <form th:if="${isCanReturn}" method="post" th:action="@{'/order/returnBook/' + ${book.id}}">
                <input type="submit" value="Вернуть книгу" style="margin-left: 15px; background-color: lightcoral;">
            </form>
            <form th:unless="${favorite}" method="post" th:action="@{'/book/' + ${book.id} + '/addToFav'}">
                <input type="submit" value="В избранное" style="margin-left: 15px; background-color: yellowgreen;">
            </form>
            <form th:if="${favorite}" method="post" th:action="@{'/book/' + ${book.id} + '/removeFromFav'}">
                <input type="submit" value="Из избранного" style="margin-left: 15px; background-color: gray;">
            </form>
            <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')" method="get" th:action="@{'/book/' + ${book.id} + '/edit'}" style="margin-left: 15px;">
                <input type="submit" value="Редактировать" style="margin-left: 15px;">
            </form>
            <br>
            <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')" th:action="@{'/book/' + ${book.id} + '/delete'}" th:method="post">
                <input type="submit" value="Удалить" style="margin-left: 15px; background-color: #960101">
            </form>
        </div>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/main.min.js"></script>
</body>
</html>