<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Library</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='/styles/style.css' rel='stylesheet' type='text/css'>

    <!-- Behavioral Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>

    <th:block th:insert="~{/ui/layouts/header.html::headerLayout}"></th:block>

    <!-- PORTFOLIO -->

    <div id="wrapper-container">

        <div class="container object">

            <div id="main-container-image">

                <section class="work">

                    <figure class="white" th:each="book : ${books}">
                        <a th:href="@{/book/{id}(id=${book.id})}"> <!-- details.html -->
                            <img th:src="@{${book.pathToFile == null || book.pathToFile.isEmpty() ? '/img/icons/no_image.png' : book.getPathToFile()}}" alt="No image" style="width: 250px; height: 250px"/>
                            <dl>
<!--                                <dt th:text="${book.authors}"></dt>-->
                                <dt th:each="author : ${book.authors}">
                                    <p th:text="${author}"></p>
                                </dt>
                                <dd th:text="${book.annotation}"></dd>
                            </dl>
                        </a>
                        <div id="wrapper-part-info">
                            <div id="part-info" th:text="${book.title}" style="width: inherit"></div>
                        </div>
                    </figure>

                </section>

            </div>

        </div>

        <div id="wrapper-oldnew">
            <div class="oldnew">
                <div class="wrapper-oldnew-prev" >
                    <a id="oldnew-prev" th:href="@{/(page=${page - 1})}" th:hidden="${page <= 0}"></a>
                </div>
                <div class="wrapper-oldnew-next">
                    <a id="oldnew-next" th:href="@{/(page=${page + 1})}" th:hidden="${books.size() < 12}"></a>
                </div>
            </div>
        </div>

    </div>


    <!-- SCRIPT -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>

</body>
</html>