.myList {
    list-style: none;
    padding: 0;
}
.myList li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}
.myList li:hover {border-left: 10px solid transparent;}

.myList a, .myList form, input[type="submit"]{
    float: right;
    color: #fff;
    padding: 1px 15px;
    background-color: #3f70c8;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
}
.myList a:hover, input[type="submit"]:hover{
    transform: scale(1.1) perspective(3px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
}

.link{
    float: right;
    color: #fff;
    padding: 10px 15px;
    background-color: #65b152;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}
.link:hover{
    transform: scale(1.1) perspective(3px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
}